__pycache__/
*.py[cod]
*$py.class

.vscode/
.idea/

logs/
checkpoints/
*.pth
*.pt
*.ckpt
*.pkl
*.mat

datasets/
data/SYSU-MM01/
data/RegDB/

layers/module/part_pooling copy.py
testfuxian.py
models/baselinevit*.py
models/baselinechange*.py
models/baselinechang*.py
